.nav__list,
nav {
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(34, 34, 34, 1);
}

div.logo {
    margin-left: 5%;
}

.total {
    background-color: rgba(189, 29, 189, 1);
    border-radius: 50%;
}

.cart {
    display: inline-block;
    align-self: right;
    margin-left: 75%;
}

main {
    display: block;
    position: absolute;
    margin-top: 12px;
}

.sort {
    width: 96%;
    height: auto;
}

.product,
.logo {
    display: inline-block;
    margin-right: 30px;
    text-align: center;
} 

.product {
    margin-top: 12px;
}

span.total,
div.logo h1 {
    color: white;
}

h1 span,
div.cart h2 {
    color: rgba(255, 116, 23, 1);
}

